html, body{
  margin: 0;
  overflow-x: hidden;
}

table{
  width: 100%;
  background: #fff;
}

thead tr, .table-foot{
  background: #111;
  color: #EEE;
  text-align: center;
}

tr{
  border-bottom: 1px solid #eee;
}

.center{
  text-align: center;
}