.gradient {
  background-image: linear-gradient(to right, #00DBDE , #FC00FF);
  padding-bottom: 400px;
}

.section1{
  background: #EEEEEE;
  transform: rotate(-30deg);
  height: 800px;
  margin-top: -500px;
  border-radius: 24px;
  overflow: hidden;
  position: relative;
  transition: 1.5s;
}

.section1 .content{
  background-color: #111111;
  border-radius: 20px;
  position: absolute;
  top: 24px;
  left: 24px;
  right: 24px;
  bottom: 24px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  transition: 1.5s;
}

.date{
  color: #00FF00;
  transform: rotate(90deg);
  margin-left: -80px;
  margin-bottom: 150px;
}

.info{
  color: #00FF00;
  font-size: 32px;
  margin-bottom: 24px;
  margin-left: 120px;
}

/* Tablet and Smaller Desktop */
@media screen and (max-width: 960px) {
  .section1 {
    transform: none;
    border-radius: 0;
    transition: 1.5s;
  }

  .section1 .content{
    align-items: center;
    left: 0;
    right: 0;
    border-radius: 0;
    transition: 1.5s;
  }

  .date{
    transform: none;
    margin: 0;
  }

  .info{
    margin-left: 0;
    margin-top: 12px;
  }
}
